<?xml version="1.0"?>

<model>
  <name>dienen_human</name>
  <version>0.1</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Alfi Maulana</name>
    <email>alfi.maulana.f@gmail.com</email>
  </author>

  <description>A model of the Dienen assistive robot's human user</description>
</model>
